a, a:link, a:visited, a:hover, a:active, a:-webkit-any-link {
  text-decoration: none; 
  color: black;
  transform: scale(2);
}

a {
	color: black;
	border: solid 2px transparent;
	text-decoration: none;
}

a:hover {
	border-bottom: solid 3px yellow;
}


/*body::after {
	content: "";
	background-image: url("assets/img/profile.jpg");
	background-position: center top;
	background-size: auto 100%;
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;  
}*/

.name {
	font-size: 30pt;
	font-family: 'Cormorant Garamond', serif;
}

.title {
	font-size: 25pt;
	font-family: 'Cormorant Garamond', serif;
	height: 100%;
	width: 250px;
}

.about-me-text {
	text-align: justify;
	width: 250pt;
	margin:-left 5pt;
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
	font-size: 13pt;
}

.fa-3 {
	font-size: 40pt;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
	body::after {
		content: "";
		background-image: url("assets/img/profile.jpg");
		background-position: center top;
		background-size: auto 100%;
		opacity: 0.5;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: -1;  
	}

	.fa-3 {
		font-size: 100pt;
	}
	.name {
		font-size: 80pt;
		font-family: 'Cormorant Garamond', serif;
	}

	.title {
		font-size: 60pt;
		font-family: 'Cormorant Garamond', serif;
		height: 100%;
		width: 250px;
	}

	.about-me-text {
		text-align: justify;
		width: 250pt;
		margin:-left 5pt;
		font-family: 'Raleway', sans-serif;
		font-weight: lighter;
		font-size: 50pt;
	}

} 


/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 1080px) {
	body::after {
		content: "";
		background-image: url("assets/img/profile.jpg");
		background-position: center top;
		background-size: 100% auto;
		opacity: 0.5;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: -1;  
	}

		.fa-3 {
	font-size: 35pt;
}
} 
