a, a:link, a:visited, a:hover, a:active, a:-webkit-any-link {
  text-decoration: none; 
  color: black;
  transform: scale(2);
}

a {
	color: black;
	border: solid 2px transparent;
	text-decoration: none;
}

a:hover {
	border-bottom: solid 3px yellow;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 800px) {

	body::after {
		content: "";
		background-image: url("assets/img/profile.jpg");
		background-position: center top;
		background-size: auto 100%;
		opacity: 0.5;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: -1;  
	}

	.fa-3 {
		font-size: 50pt;
	}
	.name {
		font-size: 70pt;
		font-family: 'Cormorant Garamond', serif;
	}

	.title {
		font-size: 60pt;
		font-family: 'Cormorant Garamond', serif;
		height: 100%;
	}

	.about-me-text {
		text-align: justify;
		width: 100%;
		margin:-left 5pt;
		font-family: 'Raleway', sans-serif;
		font-weight: lighter;
		font-size: 30pt;
	}

} 

@media (min-width: 801px) {
	body::after {
		content: "";
		background-image: url("assets/img/profile.jpg");
		background-position: center top;
		background-size: auto 100%;
		opacity: 0.5;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: -1;  
	}

	.fa-3 {
		font-size: 30pt;
	}
	.name {
		font-size: 40pt;
		font-family: 'Cormorant Garamond', serif;
	}

	.title {
		font-size: 30pt;
		font-family: 'Cormorant Garamond', serif;
		height: 100%;
	}

	.about-me-text {
		text-align: justify;
		width: 300pt;
		margin:-left 5pt;
		font-family: 'Raleway', sans-serif;
		font-weight: lighter;
		font-size: 15pt;
	}

} 


/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 1080px) {
	body::after {
		content: "";
		background-image: url("assets/img/profile.jpg");
		background-position: center top;
		background-size: 100% auto;
		opacity: 0.5;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: -1;  
	}

		.fa-3 {
	font-size: 35pt;
}
} 
